<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matthewhuie.mrjitters">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RouletteActivity"
            android:parentActivityName=".MainActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".PlacePickerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Mr Nouger ☕">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matthewhuie.mrjitters.MainActivity" />
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDhwhyeqegV1LYtdoauDGisobTWxs4u6eo" />
            <!--android:value="@string/google_maps_key" />-->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matthewhuie.mrjitters.PlacePickerActivity" />
        </activity>

        <activity android:name=".FilterActivity"
            android:parentActivityName="com.matthewhuie.mrjitters.PlacePickerActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matthewhuie.mrjitters.PlacePickerActivity" />
        </activity>

        <activity android:name=".PreviousRestaurantActivity"
            android:parentActivityName="com.matthewhuie.mrjitters.PlacePickerActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matthewhuie.mrjitters.PlacePickerActivity" />
        </activity>

        <activity android:name=".BookmarkActivity"
            android:parentActivityName="com.matthewhuie.mrjitters.PlacePickerActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matthewhuie.mrjitters.PlacePickerActivity" />
        </activity>

        <activity android:name=".TagListActivity"
            android:parentActivityName=".FilterActivity" >
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FilterActivity" />
        </activity>

        <activity android:name=".Pop"
            android:theme="@style/AppTheme">

        </activity>
    </application>

</manifest>